@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}


<div class="row col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-8 col-md-8 col-lg-8">
        <h1>Header</h1>

        <!-- START Vulnerability  -->
        

        <!-- OUR VULNERABILITY HERE-->
        

        <!-- END Vulnerability  -->


    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">


        <input type="checkbox" id="checkbox1" />
        Show/hide hints
        <div class="hidden-content" id="hidden-content">
            <!-- START hidden content -->

            <!-- YOUR CODE/CONTENT HERE-->
            This is hidden content

            <!-- END hidden content -->

        </div>
    </div>

</div>